{{> head}}

    
        {{> nabvar}}

      <div class="row">
          <div class="col-8">
              <h1>Prueba</h1>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate illum quaerat qui ab rerum. Ipsa repudiandae nulla fugiat quas corrupti quis suscipit nisi, assumenda incidunt ea excepturi dolorum optio odio.</p>
          </div>
          <div class="col-4">
              <img src="assets/img/derecho.jpg" alt="imagen" class="img-thumbnail">
          </div>
      </div>

{{> footer}}